{% extends 'pages/base.html'%}

{% block content %}
<div class="container-fluid main">
    <div class="container-fluid headview"
         style="height:30em;">


    </div>
    <div class="templates d-flex flex-row">
        {% for pro in projects %}

        <div class="col-md-4 mt-4">
            <div class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/project/{{pro.id}}"> <img class="card-img-top"
                             src="{{pro.image}}"
                             alt="Card image cap"></a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.decription}}</p>
                    <a href="/project/{{pro.id}}"
                       class="btn btn-primary">View More</a>
                    <p class="text-capitalize py-1">Posted by : {{pro.user}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}