<style>
    #brand {
      padding: 10px;
      padding-left: 50px;
      margin-top: 50px;
    }
    #brand:hover {
      border-bottom: 2px solid #1565C0;
      color: #64B5F6;
    }
    .accounts {
      padding: 10px;
      color: black;
    }
    .accounts:hover {
      text-decoration: underline;
    }
    #projects {
      padding: 20px;
      background: rgb(17, 90, 201);
      top: 0;
      color: white;
      font-weight: bold;
    }
    #projects:hover {
      background: #81D4FA;
    }
   
  </style>
  <nav style="background-color:white; ">
    <div class="navbar mx-5">
      <div>
        <a href="{% url 'home' %}" id="brand"><img style="height: 50px;width: 50px;" class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRARIJs2b8r3KKXGCZZSdSa7AOR-Y_CMNlgd3zuLb7G4qd-Qb5K&s" alt=""></a>
  
      </div>

      <div class="nav-search">
        <form class="form-inline md-form form-md active-pink active-pink-2 mt-2" action="{% url 'search_results' %}">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-md ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
            name="titles">
        </form>
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
  
        
            <a href="/logout/" class="accounts">Log Out</a>
      
          <a href="{% url 'profile' username=user %}" class="avatar">
              <img class="rounded-circle" alt="" src="{{user.profile.profile_photo.url}}" height="60" width="60" />
            </a>
   
     
            <a href="{% url 'post_site' %}" id="projects">SUBMIT PROJECT</a>
      
     
        {% else %}
   
    <a href="/accounts/login" class="accounts">Log In</a>
        
        {%  endif %}
       
      </div>
    </div>
  </nav>